
body {
	background-color:#f4f4f4;
}
	
#menustyle {
	border:1px solid black;
}

#main_block {
	width: 100%;
	height: 1500px;
	max-width: 2500px;
	min-width: 150px;	
	max-height: 1500px;
	min-height: 10px;
	padding: 1em;
}

#main {	
	width: 90%;
	height: 65%;
	max-width: 1500px;
	min-width: 120px;	
	max-height: 5000px;
	min-height: 10px;
	padding-top: 1em;
	margin: 10px auto;	
}
#main_content {
	margin: 10px auto;
	float: left;
	width: 100%;
	height: 100%;
	max-width: 1500px;
	min-width: 120px;	
	max-height: 5000px;
	min-height: 10px;
}
/*
#footer {
	float: left;
	width: 80%;
	height: 10%;
	position: fixed;
	bottom: 0;
	border: 2px dashed #f69c55;
	background-color: #9fe6f1;
	text-align: center;	 
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
	border-radius: 100px;
}
*/
section {
	width:75%;
	float: left;
	padding:5px;
	margin: 5px auto;
	padding-left: 10px;
	padding-right: 20px;
}
aside {
	margin: 5px auto;
	width:25%;
	float:right;
	padding:5px;
	text-align:center;
}


tr:hover {background-color:pink;}
tr, th, td {
    	text-align: center;
	max-height: 20px;
	min-height: 10px;
    	border-bottom: 1px solid #ddd;
}
img#status {
	width:15px;
	height:15px;
}
input, textarea {
	max-width: 100%;
}
