<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^home?$ index.php [NC]
RewriteRule ^([a-zA-Z0-9_\s]+)\/?$ $1.php [NC]
RewriteRule ^user\/([a-zA-Z0-9_\s]+)\/?$ profile.php?username=$1 [NC]
RewriteRule ^user\/([a-zA-Z0-9_\s]+)\/([a-zA-Z0-9_\s]+)?$ profile.php?username=$1&Action=$2 [NC]
RewriteRule ^problems\/page\/([a-zA-Z0-9]+)\/?$ problems.php?page=$1 [NC]
RewriteRule ^problems\/sort\/page\/([a-zA-Z0-9]+)\/?$ problems.php?sort=x&page=$1 [NC]
RewriteRule ^problems\/([a-zA-Z0-9_\s]+)\/?$ problems.php?code=$1 [NC]
RewriteRule ^problems\/([a-zA-Z0-9_\s]+)\/page\/([a-zA-Z0-9]+)\/?$ problems.php?search=$1&page=$2 [NC]
RewriteRule ^problems\/([a-zA-Z0-9_\s]+)\/sort\/page\/([a-zA-Z0-9]+)\/?$ problems.php?search=$1&sort=x&page=$2 [NC]
RewriteRule ^submission\/page\/([0-9]+)\/?$ submission.php?page=$1 [NC]
RewriteRule ^submission\/problem\/([a-zA-Z0-9_\s]+)\/?$ submission.php?Pro=$1 [NC]
RewriteRule ^submission\/problem\/([a-zA-Z0-9_\s]+)\/page\/([0-9]+)?$ submission.php?Pro=$1&page=$2 [NC]
RewriteRule ^submission\/user\/([a-zA-Z0-9_\s]+)\/?$ submission.php?User=$1 [NC]
RewriteRule ^submission\/user\/([a-zA-Z0-9_\s]+)\/page\/([0-9]+)\/?$ submission.php?User=$1&page=$2 [NC]
RewriteRule ^submission\/user\/([a-zA-Z0-9_\s]+)\/problem\/([a-zA-Z0-9_\s]+)\/?$ submission.php?User=$1&Pro=$2 [NC]
RewriteRule ^submission\/user\/([a-zA-Z0-9_\s]+)\/problem\/([a-zA-Z0-9_\s]+)\/page\/([0-9]+)\/?$ submission.php?User=$1&Pro=$2&page=$3 [NC]
RewriteRule ^Ranking\/([a-zA-Z0-9_\s]+)\/?$ Ranking.php?Pro=$1 [NC]
RewriteRule ^Ranking\/page\/([0-9]+)\/?$ Ranking.php?page=$1 [NC]
RewriteRule ^Ranking\/([a-zA-Z0-9_\s]+)\/page\/([0-9]+)\/?$ Ranking.php?Pro=$1&page=$2 [NC]
RewriteRule ^Admin\/([a-zA-Z0-9_\s]+)\/?$ Admin.php?Action=$1 [NC]
</IfModule>
